#container {
  width: 500px;
  height: 500px;
  background: gainsboro;
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: white;
}
